body{
    background:#0f172a;
    font-family:Arial,Helvetica,sans-serif;
}

.sidebar{
    min-height:100vh;
}

.card{
    border-radius:18px;
}

#listaProductos .card{
    margin-bottom:20px;
}

.producto-img{
    width:100%;
    max-height:220px;
    object-fit:cover;
    border-radius:12px;
}

.btn-warning{
    font-weight:bold;
}

@media(max-width:991px){

.sidebar{
    min-height:auto;
}

}
body{
    background:#0f172a;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.login-box{
    width:100%;
    max-width:450px;
    background:#1e293b;
    border-radius:20px;
    padding:35px;
    box-shadow:0 20px 60px rgba(0,0,0,.35);
}

.logo-login{
    width:130px;
    display:block;
    margin:0 auto 25px;
}